<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processamento de Imagem</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/lib/bootstrap.bundle.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"><a class="navbar-brand" href="../index.html">Projeto CG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="filters.html">Filtros</a></li>
                <li class="nav-item"><a class="nav-link" href="composition.html">Composição</a></li>
                <li class="nav-item"><a class="nav-link" href="transformations.html">Transformações</a></li>
                <li class="nav-item"><a class="nav-link" href="sobre-o-projeto.html">Sobre o projeto</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <div class="container-fluid p-0 m-0 justify-content-center d-grid" style="min-height: 400px;">
        <div class="row w-100 p-0 w-0">
            <div class="col-lg-4 mb-2 align-items-center">
                <div class="card  mx-auto align-items-center" style="width:300px; height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Imagem Original</h5>
                        <div class="card-img-top" id="original-img"></div>
                        <div style="width: 256px; height: 50px;" class="text-center">
                            <select class="form-select" aria-label="Selecionar filtro" id="img-selector">
                                <option selected value="0">Lena</option>
                                <option value="1">Lena (Ruído)</option>
                                <option value="2">Lena (Granulado)</option>
                                <option value="3">Airplane</option>
                                <option value="4">Pepper</option>
                                <option value="5">Brain</option>
                                <option value="6">Barbara</option>
                                <option value="7">Einstein</option>
                                <option value="8">Sea</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card  mx-auto align-items-center" style="width:300px; height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Filtros</h5>
                        <div style="width: 250px;height: 135px;" class="text-center">
                            <select class="form-select" size="5" aria-label="Selecionar filtro" id="input-filter">
                                <option selected value="0">Original</option>
                                <option value="1">Personalizado</option>
                                <option value="2">Detecção de Bordas</option>
                                <option value="3">Detecção de Bordas 2</option>
                                <option value="4">Sharpen</option>
                                <option value="9">Media</option>
                                <option value="15">Mediana</option>
                                <option value="5">Sobel X</option>
                                <option value="6">Sobel Y</option>
                                <option value="7">Prewitt X</option>
                                <option value="8">Prewitt Y</option>
                                <option value="16">Prewitt X + Y</option>
                                <option value="10">Gaussian Blur</option>
                                <option value="11">Roberts X</option>
                                <option value="12">Roberts Y</option>
                                <option value="13">Roberts X (Cruzado)</option>
                                <option value="14">Roberts Y (Cruzado)</option>
                            </select>
                        </div>
                        <div class="container text-center">
                            <form id="input-matrix" class="text-center" role="form">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <br>
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <br>
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <br> x <br>
                                <input type="number" id="scalar" value="1" min="-10" max="10" step=".1"
                                       style="width: 65px; text-align:center">
                            </form>
                        </div>
                        <br>
                        <button type="button" class="btn btn-dark" id="apply-filter-btn" style="width: 250px;">
                            Aplicar kernel
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card  mx-auto align-items-center" style="width:300px; height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Imagem Processada</h5>
                        <div class="card-img-top" id="processed-img"></div>
                        <button type="button" class="btn btn-dark" id="apply-again-btn" style="width: 256px;">
                            Usar como original
                        </button>
                        <button type="button" class="btn btn-outline-dark" id="download-btn" style="width: 256px; margin-top: 5px">
                            Salvar Imagem
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../js/lib/p5.min.js"></script>
<script src="../js/src/filters.js"></script>
</body>
</html>